<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/base.css">
    <title>删除学生信息</title>
</head>
<body>
    <div id="wrap">
        <form action="/del" method="post">
            <span>你要删除的学生姓名</span>
            <input type="text" name="name">
            <input type="submit" value="确定">
        </form>
        <a href="/">返回首页</a>
    </div>
</body>
</html>