<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/base.css">
    <title>搜索相关学生信息</title>
</head>
<body>
    <div id="wrap">
        <span>你要查询的学生姓名</span>
        <input type="text" name="name"><br>
        <input type="submit" value="确定">
        <a href="/">返回首页</a>
    </div>

    <script src="js/ajax.js"></script>
    <script>
        const btn = document.querySelector('[type=submit]');
        const value = document.querySelector('[name=name]');
        // console.log(btn);
        btn.onclick = function(){
            ajax({
                method:'post',
                url:'/search',
                data:{name:value.value},
                success(data){
                    alert(data);
                }
            })
        }
    </script>
</body>
</html>