<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/add.css">
    <title>更改信息</title>
</head>
<body>
    <div id="wrap">
        <form action="/update" method="post">
            姓名<input type="text" name="name"><br/>
            性别<input type="text" name="sex"><br/>
            语文<input type="text" name="chinese"><br/>
            数学<input type="text" name="math"><br/>
            英语<input type="text" name="english"><br/>
            <input type="submit" value="修改">
        </form>
        <a href="/">返回首页</a>
    </div>
</body>
</html>