@charset 'utf-8';
#wrap{
    position: relative;
    width:400px;
    height:400px;
    margin:30px auto 0;
}
input{
    margin-bottom:8px;
    margin-left:4px;
}
a{
    position: absolute;
    right:150px;
    top:150px;
    text-decoration:none;
    margin-left:10px;
}